page-visit {
  .photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      margin: 0px 4px;
      max-width: 100px;
      max-height: 100px;
    }
  }
}
